html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr;
}

body > main:first-child {
    width: 100%;
    height: 100%;
    background-color: lightpink;
}

body > main:last-child {
    width: 100%;
    height: 100%;
    background-color: lightgoldenrodyellow;
}