<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Mercury Notes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=width-height, height=device-height, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="">
        <script src="https://kit.fontawesome.com/ae7c3de316.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <link rel="stylesheet" type="text/css" href="/css/fonts.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" 
        integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script type="text/javascript" src="/js/globalControllers.js"></script>
        <script type="text/javascript" src="/js/rowWidget.js"></script>
        <script type="text/javascript" src="/js/textWidget.js"></script>
        <script type="text/javascript">

            // Global vars to keep track of the number of widgets created 
            // and their identifiers
            var globals = {
                rowWidgetsCounter : 1,
                textWidgetsCounter : 1
            }

            window.onload = () => {
                // By default, scale doc
                document.getElementById('pages-wrapper').style.transform = "scale("+80/100+")";

                // On save PDF button, generate PDF 
                // TODO: review
                $("#btn_pdf").click(function () {
                    async function capture() {
                        var canvasPages = []
                        const promise = new Promise((resolve, reject) => {
                            console.log("Inside");
                            for (i = 1; i < 2; i++) {
                                /* Scale the wrapper to reset resolution pt */
                                var initialScale = 1;
                                $('#pages-wrapper').css({
                                    '-webkit-transform' : 'scale(' + initialScale + ')',
                                    '-moz-transform'    : 'scale(' + initialScale + ')',
                                    '-ms-transform'     : 'scale(' + initialScale + ')',
                                    '-o-transform'      : 'scale(' + initialScale + ')',
                                    'transform'         : 'scale(' + initialScale + ')'
                                });
                                /* Scale adds resolution */
                                // TODO: find a solution to store the original HTML, not a canvas
                                // Links are lost, text is lost
                                html2canvas($('#page_' + i.toString())[0], {scale: 10}).then(function (canvas) {
                                    console.log("APPEND");
                                    var canvasPage = canvas.toDataURL('image/png');
                                    console.log(canvasPage)
                                    canvasPages.push(canvas);
                                });
                            }
                            (function wait4Pages(){
                                console.log(canvasPages.length);
                                if (canvasPages.length == 1) return resolve(canvasPages);
                                setTimeout(wait4Pages, 30);
                            })();
                        });
                        let result = await promise;
                        return result;
                    }
                    var doc = new jsPDF('p', 'mm');
                    var canvasPages = []
                    const waitingForPages = async () => {
                        canvasPages = await capture();
                        console.log(canvasPages); 
                        return true;
                    };

                    // Wait for all pages before concatenating them in one PDF file
                    // TODO: generalize to N pages
                    (async () => {
                        if(await waitingForPages()) {
                            //doc.addImage(canvasPages[1], 'PNG', 0, 0, 210, 297);
                            //doc.addPage();
                            doc.addImage(canvasPages[0], 'PNG', 0, 0, 210, 297);
                            console.log("DOC SAVE");
                            doc.save("file.pdf");
                        } else {
                            console.log("Something went wrong");
                        }
                    })()

                });

                /* Functions regarding row widgets */
    
                // Add row element button trigger
                $("#btn-add-row-element").click(function () {
                    console.log("Add row widget");
                    addRowWidget(globals);
                });

                // Remove row element button trigger
                // https://stackoverflow.com/questions/39608567/why-jquery-does-not-work-for-new-element-created-in-ajax-success
                $(document).on('click', 'input[id^="btn-remove-row-"]', function() {
                    console.log(this.id);
                    removeRow(this.id.match(/\d+$/i));
                });
            }
        </script>
    </head>

    <body>
        <main>
            <div>
                <nav>
                    <div class="content__nav">
                        <div class="title__nav">
                            <h1>Mercury Notes</h1>
                        </div>
                        <input id="btn_pdf" type="button" value="Save PDF"/>
                    </div>
                    
                </nav>
                <section id="widgets-controllers" class="widgets-controllers-container">
                    <input type="range" id="scale-doc" name="scale-doc" min="40" max="200" value="80" step="1">
                    <input type="range" id="margin-slider" name="margin-slider" min="0" max="40" value="20" step="1">
                    <div style="width: 100%; display: flex; justify-content: space-around;">
                        <input id="btn-add-row-element" type="button" value="Add row element"/>
                    </div>

                    <!--<textarea 
                        id="input_1" 
                        name="text" 
                        placeholder="Type here to see the potential effect of what you are writing."
                        rows="4"
                    >
                    </textarea>-->
                    <!--<div class="row-widget-controller">
                        <div>
                            <div>
                                <div class="controller-menu">
                                    <div>
                                        <h1>Mercury Notes</h1>
                                    </div>
                                    <input id="btn-remove-row" type="button" value="Remove widget"/>
                                </div>
                                <div class="controller-options">
                                    <div>

                                    </div>
                                    <textarea id="input_1" name="text" 
                                        placeholder="Type here widget text"
                                        rows="4"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </section>
            </div>
            <div id="table">
                <div id= "pages-wrapper" class="pages-wrapper">
                    <section id="pages">
                        <div class="page-wrapper">
                            <div id="page_1" class="page">
                                <div id="content__page_1" class="content__page">
                                </div>
                            </div>
                        </div>
                        <br>
                        <!--<div class="page-wrapper">
                            <div id="page_2" class="page">
                                <div class="content__page">
                                    <div><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                            
                                    </div>
                                </div>
                        </div>-->
                    </section>   
                </div>    
    
    
    
                {# {% block content %}{% endblock %} #}
            </div> 
        </main>
    </body>
</html>